.nav-link.french {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link.spanish {
    display: none;
}

.mb-4.french {
    display: block;
}

.mb-4.spanish {
    display: none;
}

.subheading.french {
    display: block;
}

.subheading.spanish {
    display: none;
}

p.french {
    display: block;
}

p.spanish {
    display: none;
}

h3 a.french {
    display: block;
}

h3 a.spanish {
    display: none;
}

.ftco-heading-2.french {
    display: block;
}

.ftco-heading-2.spanish {
    display: none;
}

.text-french {
    display: block;
}

.text-spanish {
    display: none;
}