.nav-link.english {
    display: block;
    padding: 0.5rem 1rem;
}

.nav-link.spanish,
.nav-link.french {
    display: none;
}

.mb-4.english {
    display: block;
}

.mb-4.spanish,
.mb-4.french {
    display: none;
}

.subheading.english {
    display: block;
}

.subheading.spanish,
.subheading.french {
    display: none;
}

p.english {
    display: block;
}

p.spanish,
p.french {
    display: none;
}

h3 a.english {
    display: block;
}

h3 a.spanish,
h3 a.french {
    display: none;
}

.ftco-heading-2.english {
    display: block;
}

.ftco-heading-2.spanish,
.ftco-heading-2.french {
    display: none;
}

.text-english {
    display: block;
}

.text-spanish,
.text-french {
    display: none;
}